.special-admin{
	padding: 30px 0;
}
.special-admin h1{
	text-align: center;
}
form{
	margin: 30px 0;
}
.fixedAlert{
	position: fixed;
	z-index: 9999;
	width: 50vw;
	top: 40px;
	left: 25vw;
	right: auto;
}