.main-content{
    position: relative;
}
.separator-bottom{
    bottom: 0;
    top: auto;
}
.separator{
    position: absolute;
    top: auto;
    right: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 150px;
    transform: translateZ(0);
    pointer-events: none;
}
.notif{
    position: fixed;
    width: 50vw;
    text-align: center;
    left: 25vw;
    top: 30px;
    z-index: 9999;
}